
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&family=Titillium+Web:ital,wght@0,200;0,300;1,200&display=swap');


*{
	margin: 0; padding: 0;
	box-sizing: border-box;
  scroll-behavior: smooth;
  transition: .2s linear;
  outline: none; border:none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Titillium Web', sans-serif;

}



html{
  font-size: 62.5%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}



section{
  scroll-snap-align: start;
  padding: 5rem 10%;
    
}

html::-webkit-scrollbar{
  width: .5rem;
}

html::-webkit-scrollbar-thumb{
  background:#642e90;
  border-radius: 5rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

body {
  background-color: #0f0613;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .7rem 3rem;
  font-size: 1.7rem;
  color: #bb68ff;
  border-radius: 5px;
  background-color: #0f0613;
  border: 1px solid #60169d;
  cursor: pointer;
}

.btn:hover{
  margin-top: 1rem;
  display: inline-block;
  padding: .7rem 3rem;
  font-size: 1.7rem;
  color: #0f0613;
  border-radius: 5px;
  background-color:  #bb68ff;
  border: 1px solid #0f0613;
  cursor: pointer;
}

.desc{
  font-size: 3rem;
  color: #9a33ef;
}


.header{
  scroll-snap-align: start;
  position: fixed;
  display: flex;
  z-index: 1000;
  top: 0; left: 0; right: 0;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 20%;
  background-image: linear-gradient(0deg, rgba(115, 0, 255, 0), rgba(115, 0, 255, 0.336));
}


.header .logo img{
  top: 1rem;
  left: 2rem;
  height: 10rem;
  position: absolute;
  border:0.1rem solid #bb68ff;
  border-radius: 50%;
}


.header .navbar a{
  text-decoration: none;
  margin: 0 1rem;
  float: right;
  color: rgb(105, 26, 216);
  font-size:1.9rem;
  transition: color 0.5s ease-in-out;
}



.header .navbar a:hover{
  border-bottom: 1px solid #bb68ff;
  color: rgb(213, 192, 255);
  transition: color 0.5s ease-in-out;
}

.header .icons div{
  color: rgb(105, 26, 216);
  font-size: 3rem;
  margin-left: 2rem;
  cursor: pointer;
}

.header .icons div:hover{
  color: rgb(123, 20, 163);

}

#menu-btn{
  display: none ;
}

.heading{
  overflow: hidden;
  padding-top: 2rem;
  text-align: center;
  color: aliceblue;
  padding-bottom: 3.5rem;
  font-size: 4rem;
  animation-delay: 1s;
}

.heading span{
  color: #9c44e4;

}

.home{
overflow: hidden;
display: flex;
align-items: center;
min-height: 100vh;
background: url(bgpic3.png) no-repeat;
background-size: cover;
background-position: center;
}

.home .wrap {
    padding: 5rem;

  }

.animate-charcter{
  position:relative;
    bottom: 5rem;
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 30rem;
    color: #9c44e4;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    animation: animate-character 3s linear infinite;
}

.animate-charcter:hover{
    animation: animate-character 3s linear infinite;
    font-size: 30rem;
    color: #bb68ff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.home .wrap h4{
  animation: slideUp 0.9s ease-in-out 0.2s;
  bottom: 20rem;
  font-family:  Titillium Web;
  font-weight: 300;
  font-size: 3rem;
  color: #9a33ef;
  align-items: center;

}

.home .wrap .hmpic{
  display: flex;
  position: static;
}


.home .wrap .oc{
  position: absolute;
  width: 500px;
  height: 690px;
  bottom: 0;
  right: 0rem;
  overflow-x: hidden;
  animation: expand 0.9s ease-in-out;
}


.about{
    overflow: hidden;
    background: url(bgpic1.png) no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    min-height: 100vh;
  }

  .about .row{
    padding: 2% 2%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(180deg, rgba(115, 0, 255, 0), #60169da9);
    border-radius: 50px;
  }

.about .row .image{
  flex: 0.5rem 1 45rem;
  text-align: center;
  
  }
    
.about .row .image img{
  width: 40rem;
  }
    
.about .row .image img:hover{
  transform: translateY(-30px);
  transition: 1s all ease;
    }

.about .row .content{
  
  flex: 1 1 45rem;
  padding: 2rem;
}

.content{
  flex: 1 1 45rem;
  font-family: Titillium Web;
}

.content h3{
  line-height: 4rem;
  text-align: center;
  font-size: 4rem;
  background-color: #0f0613;
  border-radius: 50px;
  color: #9a33ef;
  margin-bottom: 3rem;
}

.content p{
  line-height: 6rem;
  font-size: 2.5rem;
  position: relative;
  color: #9a33ef;
}


.work{
    overflow: hidden;
    background: url(bgpic2.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
  }


  .work .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 0.8rem;
  }

  .work .box-container .box{
    padding: 5rem;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(115, 0, 255, 0), #8c00ff36);
    border-radius: 50px;
    border: 1px solid  #9a33ef ;
  }

  .work .box-container .box img{
    height: 30rem;
  }


  .contact{
    overflow: hidden;
    background: url(bgpic4.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
  }

  .contact .box{
    top: 1rem;
    overflow: hidden;
    color: #bb68ff;
    
  }

  .contact .box1-container{
    overflow:hidden ;
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-image: linear-gradient(180deg, rgba(115, 0, 255, 0), #8c00ff36);
    border-radius: 50px;
    border: 1px solid  #9a33ef;
  }

  .contact .box1-container .box1-child{
    overflow: hidden;
    border-right: 0.5px dashed #9a33ef;
    position: relative;
    padding: 1rem;
    justify-content: center;
  }

  .contact .box1-container .desc1{
    float: left;
    padding: 3rem;
    font-size: 3rem;
    color: #9a33ef;
  }

  .contact .box1-container .box1-child p{
    position: relative;
    font-size: 2rem;
    color: #9c44e4;
  }
  
  .contact .box1-container .box1-child i{
    overflow: hidden;
    margin: 1rem;
    position: relative;
    font-size: 3rem;
    color: #9c44e4;
  }

  .contact .box-container{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.6rem 5rem;
  }

  .contact .box-container .box{
    margin-bottom: 5rem;
    justify-content: center;
    padding: 3rem;
    background-image: linear-gradient(180deg, rgba(115, 0, 255, 0), #8c00ff36);
    border-radius: 50px;
    border: 1px solid  #9a33ef;
  }

  .contact .box-container .box img{
    height: 10rem;
    border-radius: 50%;
    border: 1px solid  #9a33ef;  
  }


.footer{
  color: #9c44e4;
  justify-content: center;
  scroll-snap-align: start;
  padding: 5rem;
  border: 0.5px solid #60169d;
  background-image: linear-gradient(0deg, rgba(115, 0, 255, 0), #4f009036);
  
}

.footer p{
  font-size: 1.5rem;
  text-align: center;
  animation: animate-character 2s linear infinite;

}


  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .reveal1{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    transition-delay: 0.6s;
  }
  
  .reveal1.active{
    transform: translateY(0);
    opacity: 1;
  }

  .reveal2{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    transition-delay: 0.3s;
  }
  
  .reveal2.active{
    transform: translateY(0);
    opacity: 1;
  }


  @keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }

    0% {
      opacity: 0;
     }

     100% {
      opacity: 1;
     }

  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
    
    0% {
      opacity: 0;
     }

     100% {
      opacity: 1;
     }

  }
  
  @keyframes expand {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  
    0% {
      opacity: 0;
     }

     100% {
      opacity: 1;
     }
  
  }

    @keyframes animate-character{
      0% {
       opacity: 0;
      }
      50% {
       opacity: 1;
      }
      100% {
       opacity: 0;
      }}

    
  @media (max-width: 1000px){

    html{
      font-size: 55%;
      scroll-snap-type: unset;
    }

    section{
      scroll-snap-align: unset;
    }
    .header{
      padding: 1.5rem 2rem;
    }

    .about .row .image img{
      width: 30rem;
      }
  }

  @media (max-width: 1000px){

  #menu-btn{
    display: inline-block;
  }

.header .navbar{
  position: absolute;
  top: 100%; right:-100%;
  background-image: linear-gradient(270deg, rgb(107, 0, 156), 40%, rgba(48, 0, 107, 0));
  width: 15rem;
  height: calc(100vh - 9.5rem);
  transition: all 0.5s ease-in-out;
  border-top: .1rem solid #60169d ;
  border-bottom: .1rem solid #60169d ;
}

.header .navbar.active{
  right: 0;
  transition: all 0.5s ease-in-out;
} 


.header .navbar a{
  overflow: hidden;
  color: #bb68ff;
  display: block;
  margin: 1.5rem;
  padding: .5rem;
  font-size: 2rem;
}
.home{
  text-align: center;
  justify-content: center;
  background-position: left;
  min-height: 100vh;
  padding: 0%;
  border-bottom: .1rem solid #60169d;
}

.home .wrap h3{
  top: 5rem;
  margin-bottom: 5rem;
  font-family: Playfair Display;
  font-weight: 900;
  font-size: 20rem;
  color: #9c44e4;
  cursor: pointer;
  text-align: center;
}

.home .wrap h4{
  text-align: center;
  top: 10rem;
}

.home .wrap img{
  display: none;
}

.about{
  overflow-x: hidden;
  background: url(bgpic1sm.png) no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 100vh;
  border-bottom: .1rem solid #60169d ;
}

.work{
  overflow-x: hidden;
  background: url(bgpic2sm.png) no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 100vh;
  border-bottom: .1rem solid #60169d ;
}
.contact{
  overflow-x: hidden;
  background: url(bgpic4sm.png) no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 100vh;
  border-bottom: .1rem solid #60169d ;

}

.contact .box1-container .box1-child i{
 justify-content: center;
  overflow: hidden;
  padding-top: 3rem;
  margin: 1rem;
  position: relative;
  font-size: 1.5rem;
  color: #9c44e4;
}

.contact .box1-container .box1-child{
  border-right: unset;
  border-bottom: 0.5px dashed #9a33ef;
}

.contact .box1-container .box1-child p{
  text-align: center;
  padding-top: 3rem;
  position: relative;
  font-size: 1.5rem;
  color: #9c44e4;
}

.contact .box1-container .desc1{
  position: absolute;
  top:0%;
  font-size: 2rem;
  color: #9a33ef;
}

  }

